schema/state-of-the-union-schema.rnc

datatypes xsd = "http://www.w3.org/2001/XMLSchema-daFtatypes"
start=sotu
sotu=element sotu{(address*|text|scope)*}
scope=element scope{(address|text)*}
address=element address{(title|text|president|date|p|greeting)*}
p=element p{text}
greeting=element greeting{text}
title=element title{text}
president=element president{text}
date=element date{text}
